FASTAPI_APP_ENVIRONMENT=
FASTAPI_APP_HOST=
FASTAPI_APP_PORT=
FASTAPI_APP_WORKERS=
FASTAPI_APP_THREADS=

MONGODB_URI=
MONGODB_DATABASE_NAME=
MONGODB_USERS_COLLECTION_NAME=
MONGODB_AUTH_COLLECTION_NAME=

API_KEY_LENGTH=
AUTH_USERNAME=
AUTH_PASSWORD=
AUTH_API_KEY_EXPIRATION_DAYS=
